* {
    margin: 0;
    padding: 0;
}

div {
    border: 1px solid black;
    height: 100px;
    text-align: center;
    line-height:  100px;
}

#header {
    background-color: green;
}

#menu {
    background-color: pink;
    height: 202px;
    float: left;
    width: 30%;
    line-height:  200px;
}

.post {
    background-color: blue;
}

#footer {
    clear: both;
    background-color: yellow;
}
